.centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bg_spin {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1999999999;
  background-color: #fff;
  .opacity(0.6);
}

.breadcrumb {
  > li + li:before {
    padding: 0 0 0 5px;
    color: #777777;
  }
}

.popover {
  position: absolute !important;
}

#no-result {
  text-align: center;
}

.modal-backdrop {
  &.in {
    .opacity(0.2);
  }
}

form {
  .error:not(input) {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    color: #e74c3c;
    font-weight: 700;
    font-size: 11px;
    margin-bottom: 0;
  }
}
