.dashboard-wrapper {
  .custom-box {
    .box-title {
      margin: 0;
      text-transform: uppercase;
      letter-spacing: -1px;
      color: white;
    }

    .box-value, .box-detail {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      color: black;
      font-weight: bold;
      margin: 0;
      letter-spacing: -1px;
    }

    .box-value {
      font-size: 34px;
    }

    .box-detail {
      font-size: 14px;

      &.invisible {
        visibility: hidden;
      }
    }

    .box-last-update {
      text-align: center;
      font-size: 12px;
      padding: 5px 0;
    }
  }

  .box-loans-goal {
    .custom-box-body {
      overflow-y: auto;
      height: 230px;
      padding-top: 0;

      h5 {
        margin-bottom: 2px;
        font-size: 13px;
      }

      .custom-progress {
        margin-bottom: 0;

        &.low-opacity {
          .opacity(0.7);
        }

        .custom-progress-bar {
          position: relative;

          .progress-type, .progress-completed {
            position: absolute;
            color: black;
            font-weight: bold;
          }

          .progress-type {
            left: 3px;
          }

          .progress-completed {
            right: 3px;
          }
        }
      }
    }
  }

  .box-chart {
    .box-body {
      overflow-x: auto;
    }

    #bar-chart {
      height: 210px;
      min-width: 710px;
    }
  }

  .box-worked-days {
    background: transparent;
    margin-bottom: -10px;
    box-shadow: none;
  }

  .custom-progressbar {
    width: 100%;
    overflow: auto;

    .progress {
      .circle {
        &.active {
          .label {
            background: #db524c;
          }

          .title {
            color: #db524c;
          }
        }

        &.done {
          background: white;

          .title {
            color: #81CE97;
          }
        }
      }
      .label {
        padding: 0;
      }

      .bar {
        margin-left: -1px;
        margin-right: -4px;
      }
    }
  }
}
