<div home>
  <div class="home container-fluid">
    <div class="col-xs-offset-3 col-xs-6">
      <img src="assets/images/full_logo.png" alt="" class="full-bg">
    </div>
    <div class="col-xs-12">
      <div class="go-to-login">
        <h3>
          <a href="#/login">
            <i class="fa fa-sign-in"></i> Acesso Restrito
          </a>
        </h3>
      </div>
    </div>
  </div>
</div>
