<div client-list class="client-list">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Listar Cliente
      <!--<small>This is the Clients Page</small>-->
    </h1>
    <ol class="breadcrumb">
      <li ng-class="{ 'active': bcrumb.isActive }" ng-repeat="bcrumb in vm.breadcrumbs">
        <a href ng-click="vm.go(bcrumb.state)">
          <i class="{{ bcrumb.icon }}"></i> {{ bcrumb.name }}
        </a>
      </li>
    </ol>
  </section>

  <!-- Main content -->
  <section main class="content client-list-wrapper">
    <div class="row">
      <div class="col-xs-12 col-md-8 col-lg-6">
        <div class="box box-info box-client-list">
          <div class="box-header">
            <button type="button" class="btn btn-block btn-info btn-sm btn-edit-client" ng-if="vm.currentClient" ng-click="vm.editClient()">
              <i class="fa fa-pencil"></i> Editar Informações
            </button>
            <div class="box-tools box-tools-client-list">
              <form class="form-search-client-cpf" ng-submit="vm.getClientByCpf()">
                <div class="input-group input-group-sm">
                  <input type="text" class="form-control" ng-model="vm.searchedCpf" name="search-client-cpf" placeholder="Pesquisar por CPF...">
                  <span class="input-group-btn">
                  <button type="submit" class="btn btn-info btn-flat">
                    <i class="fa fa-search"></i>
                  </button>
                </span>
                </div>
              </form>
            </div>
          </div>
          <div class="box-body">
            <div class="client-list-container">
              <div class="row custom-row">
                <div class="col-xs-5 custom-col-icon">
                  <i class="fa fa-id-card-o" aria-hidden="true" ng-class="{ 'invisible': !vm.currentClient }"></i>
                </div>
                <div class="col-xs-7 custom-col-info" ng-class="{ 'invisible': !vm.currentClient }">
                  <p class="cpf-value">{{ vm.currentClient.cliente.cpf | CpfFormat }}</p>
                  <p class="name-value">{{ vm.currentClient.cliente.nome }}</p>
                  <p class="birth-value">Nascimento: {{ vm.currentClient.cliente.data_nascimento }}</p>
                </div>
              </div>
              <div class="no-result" ng-if="!vm.currentClient">Para buscar informações de um cliente pesquise pelo CPF.</div>
              <div class="row custom-row">
                <div class="col-xs-12">
                  <table class="table table-bordered client-list-table" ng-class="{ 'invisible': !vm.currentClient }">
                    <tbody>
                    <tr>
                      <th>#</th>
                      <th>Tipo</th>
                      <th>Contato</th>
                    </tr>
                    <tr ng-repeat="detail in vm.currentClient.contato">
                      <td>{{ $index + 1 }}.</td>
                      <td>{{ detail.type }}</td>
                      <td>{{ detail.contato | PhoneFormat }}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
