<div client-register class="client-register">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Cadastrar Cliente
      <!--<small>This is the Clients Page</small>-->
    </h1>
    <ol class="breadcrumb">
      <li ng-class="{ 'active': bcrumb.isActive }" ng-repeat="bcrumb in vm.breadcrumbs">
        <a href ng-click="vm.go(bcrumb.state)">
          <i class="{{ bcrumb.icon }}"></i> {{ bcrumb.name }}
        </a>
      </li>
    </ol>
  </section>

  <!-- Main content -->
  <section main class="content client-register-wrapper">
    <div class="row">
      <div class="col-xs-12 col-md-8 col-lg-6 register-client-box">
        <div class="box box-info">
          <div class="box-header with-border">
            <h3 class="box-title">Formulário de Cadastro</h3>
          </div>
          <form class="form-horizontal client-form" novalidate>
            <div class="box-body">
              <div class="form-group client-form-group">
                <div class="col-xs-12">
                  <input type="text" class="form-control" name="client-form-name" placeholder="Nome" required>
                </div>
                <div class="col-xs-12 col-sm-4">
                  <input type="text" class="form-control" name="client-form-birth" placeholder="Nascimento">
                </div>
                <div class="col-xs-12 col-sm-8">
                  <input type="text" class="form-control" name="client-form-cpf" placeholder="CPF" required>
                </div>
                <div class="col-xs-12 col-sm-4">
                  <select class="form-control select-contact-type">
                    <option value="default" selected="selected">Tipo do Contato</option>
                    <option value="1">Email</option>
                    <option value="2">Celular</option>
                    <option value="3">Residencial</option>
                    <option value="4">Comercial</option>
                    <option value="5">Recado</option>
                  </select>
                </div>
                <div class="col-xs-12 col-sm-8 input-group-container">
                  <input type="text" class="form-control default" placeholder="Contato" disabled>
                  <div class="input-group 1-input-group hide">
                    <input type="text" class="form-control" name="email-form-contact" placeholder="Contato (Email)">
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-success btn-flat" ng-click="vm.addContact()">
                        <i class="fa fa-plus"></i>
                      </button>
                    </span>
                  </div>
                  <div class="input-group 2-input-group hide">
                    <input type="text" class="form-control" name="celular-form-contact" placeholder="Contato (Celular)">
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-success btn-flat" ng-click="vm.addContact()">
                        <i class="fa fa-plus"></i>
                      </button>
                    </span>
                  </div>
                  <div class="input-group 3-input-group hide">
                    <input type="text" class="form-control" name="residencial-form-contact" placeholder="Contato (Residencial)">
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-success btn-flat" ng-click="vm.addContact()">
                        <i class="fa fa-plus"></i>
                      </button>
                    </span>
                  </div>
                  <div class="input-group 4-input-group hide">
                    <input type="text" class="form-control" name="comercial-form-contact" placeholder="Contato (Comercial)">
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-success btn-flat" ng-click="vm.addContact()">
                        <i class="fa fa-plus"></i>
                      </button>
                    </span>
                  </div>
                  <div class="input-group 5-input-group hide">
                    <input type="text" class="form-control" name="recado-form-contact" placeholder="Contato (Recado)">
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-success btn-flat" ng-click="vm.addContact()">
                        <i class="fa fa-plus"></i>
                      </button>
                    </span>
                  </div>
                </div>
              </div>
              <table class="table table-bordered client-phone-table">
                <tbody>
                <tr>
                  <th>#</th>
                  <th>Tipo</th>
                  <th>Contato</th>
                  <th>Ação</th>
                </tr>
                <tr ng-show="vm.clientContacts.length === 0">
                  <td class="no-result" colspan="4">Não há contatos adicionados.</td>
                </tr>
                <tr ng-repeat="contact in vm.clientContacts">
                  <td>{{ $index + 1 }}.</td>
                  <td ng-if="contact.label">{{ contact.label }}</td>
                  <td ng-if="contact.type">{{ contact.type }}</td>
                  <td>{{ contact.contato }}</td>
                  <td>
                    <button type="button" class="btn btn-block btn-danger btn-sm" ng-click="vm.removeContact($index)" ng-disabled="vm.isEdit">
                      <i class="fa fa-trash"></i>
                    </button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="box-footer">
              <button class="btn btn-danger pull-right" ng-click="vm.clearClientForm()">
                <i class="fa fa-trash"></i> Limpar Tudo
              </button>
              <button type="submit" class="btn btn-primary" ng-if="vm.isEdit">
                <i class="fa fa-pencil"></i> Editar
              </button>
              <button type="submit" class="btn btn-success" ng-if="!vm.isEdit">
                <i class="fa fa-check"></i> Cadastrar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- /.content -->
</div>
