<div attendance-list class="attendance-list">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Listar Atendimento
      <!--<small>This is the AttendanceList Page</small>-->
    </h1>
    <ol class="breadcrumb">
      <li ng-class="{ 'active': bcrumb.isActive }" ng-repeat="bcrumb in vm.breadcrumbs">
        <a href ng-click="vm.go(bcrumb.state)">
          <i class="{{ bcrumb.icon }}"></i> {{ bcrumb.name }}
        </a>
      </li>
    </ol>
  </section>

  <!-- Main content -->
  <section main class="content attendance-list-wrapper">
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title" style="visibility: hidden;">_</h3>

            <div class="box-tools filter-box">
              <div class="label-filter">
                <i class="fa fa-filter"></i> Filtros:
              </div>
              <div class="input-group input-group-sm">
                <input type="text" name="attendance-cpf" class="form-control" ng-model="vm.cpfFromFilter" placeholder="Filtrar por CPF">
              </div>
              <div class="attendance-type-container">
                <select class="form-control filter-select">
                  <option selected="selected" disabled="disabled">Tipo (Opcional)</option>
                  <option value="emprestimo">Empréstimo</option>
                  <option value="conta">Abertura de Conta</option>
                </select>
                <input type="text" class="form-control type-filter-select default" placeholder="Filtrar por Tipo" disabled>
                <input type="text" class="form-control type-filter-select numeric hide conta opt-ag" ng-model="vm.agFromFilter" placeholder="Agência...">
                <input type="text" class="form-control type-filter-select numeric hide conta opt-acc" ng-model="vm.accFromFilter" placeholder="Conta...">
                <input type="text" class="form-control type-filter-select numeric hide emprestimo opt-op" ng-model="vm.opFromFilter" placeholder="Operação...">
                <button class="btn btn-block btn-info btn-sm" ng-click="vm.checkfilterAttendance()">
                  <i class="fa fa-filter"></i> Filtrar
                </button>
              </div>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body table-responsive no-padding">
            <table ng-table="vm.tableParams" class="table table-hover attendance-table">
              <tbody>
              <tr id="line-header" class="hide">
                <td data-title="'Código'" sortable="'id'"></td>
                <td data-title="'CPF'" sortable="'cpf'"></td>
                <td data-title="'Agência'" sortable="'agencia'"></td>
                <td data-title="'Conta Bancária'" sortable="'conta'"></td>
                <td data-title="'Operação'" sortable="'operacao'"></td>
                <td data-title="'Ações'"></td>
              </tr>
              <tr id="no-result" ng-show="vm.noResult">
                <td colspan="6">Nenhum resultado foi encontrado.</td>
              </tr>
              <tr ng-repeat="att in $data">
                <td>{{ att.id }}</td>
                <td>{{ att.cpf }}</td>
                <td>
                  <div id="label-agencia-{{ att.id }}">{{ att.agencia || '-' }}</div>
                  <input type="text" id="input-agencia-{{ att.id }}" class="form-control edit-inputs numeric hide">
                </td>
                <td>
                  <div id="label-conta-{{ att.id }}">{{ att.conta || '-' }}</div>
                  <input type="text" id="input-conta-{{ att.id }}" class="form-control edit-inputs numeric hide">
                </td>
                <td>
                  <div id="label-operacao-{{ att.id }}">{{ att.operacao || '-' }}</div>
                  <input type="text" id="input-operacao-{{ att.id }}" class="form-control edit-inputs numeric hide">
                </td>
                <td>
                  <button id="edit-btn-{{ att.id }}" class="btn btn-default btn-sm edit-btn" ng-disabled="vm.disableEditBtns" ng-click="vm.editAttendance(att.id)">
                    <i class="fa fa-pencil"></i> Editar
                  </button>
                  <button id="save-btn-{{ att.id }}" class="btn btn-success btn-sm save-btn hide" ng-click="vm.saveEditedAttendance(att.id)">
                  <i class="fa fa-check"></i> Salvar
                </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
    </div>
  </section>
</div>
