<div attendance-register class="attendance-register">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Cadastrar Atendimento
      <!--<small>This is the AttendanceRegister Page</small>-->
    </h1>
    <ol class="breadcrumb">
      <li ng-class="{ 'active': bcrumb.isActive }" ng-repeat="bcrumb in vm.breadcrumbs">
        <a href ng-click="vm.go(bcrumb.state)">
          <i class="{{ bcrumb.icon }}"></i> {{ bcrumb.name }}
        </a>
      </li>
    </ol>
  </section>

  <!-- Main content -->
  <section main class="content attendance-register-wrapper">
    <div class="row">
      <div class="col-xs-12 col-md-8 col-lg-6">
        <div class="box box-info box-attendance">
          <div class="box-header">
            <h3 class="box-title">Formulário de Cadastro</h3>
          </div>
          <div class="box-body">
            <div class="attendance-container">
              <form class="form-cpf-register-attendance" ng-submit="vm.getClientToRegisterAttendance()">
                <div class="input-group input-group-sm">
                  <input type="text" class="form-control" name="cpf-attendance" ng-model="vm.searchedCpf" placeholder="Digite o CPF do cliente...">
                  <span class="input-group-btn">
                    <button type="submit" class="btn btn-info btn-flat">
                      Avançar <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    </button>
                  </span>
                </div>
              </form>
              <p class="question-register-client" ng-if="vm.clientNotFound">Deseja cadastrar um novo cliente?
                <a class="yes-register" href ui-sref="main.client_register">
                  <i class="fa fa-check" aria-hidden="true"></i> Sim
                </a>
                <a class="no-register" href ng-click="vm.noAnswerRefreshForm()">
                  <i class="fa fa-times" aria-hidden="true"></i> Não
                </a>
              </p>
              <div class="row row-client-info" ng-if="vm.currentClient">
                <div class="col-xs-5 custom-col-icon">
                  <i class="fa fa-id-card-o" aria-hidden="true"></i>
                </div>
                <div class="col-xs-7 custom-col-info">
                  <p class="cpf-value">{{ vm.currentClient.cliente.cpf | CpfFormat }}</p>
                  <p class="name-value">{{ vm.currentClient.cliente.nome }}</p>
                  <p class="birth-value">Nascimento: {{ vm.currentClient.cliente.data_nascimento }}</p>
                </div>
              </div>
              <div class="row row-attendance-label" ng-if="vm.currentClient">
                <p>Escolha o serviço a ser cadastrado:</p>
              </div>
              <div class="row row-attendance-type" ng-if="vm.currentClient">
                <div class="attendance-type-container">
                  <select class="form-control filter-select">
                    <option selected="selected" disabled="disabled">Filtro</option>
                    <option value="emprestimo">Empréstimo</option>
                    <option value="conta">Abertura de Conta</option>
                  </select>
                  <input type="text" class="form-control type-filter-select default" placeholder="Tipo do Filtro" disabled>
                  <input type="text" class="form-control type-filter-select numeric hide conta opt-ag" placeholder="Agência...">
                  <input type="text" class="form-control type-filter-select numeric hide conta opt-acc" placeholder="Conta...">
                  <input type="text" class="form-control type-filter-select numeric hide emprestimo opt-op" placeholder="Operação...">
                </div>
              </div>
            </div>
          </div>
          <div class="box-footer" ng-if="vm.currentClient">
            <button class="btn btn-success pull-right" ng-click="vm.registerAttendance()">
              <i class="fa fa-check"></i> Cadastrar
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
