.client-list-wrapper {
  .box-tools-client-list {
    .input-group-sm {
      width: 170px;
      margin-right: -5px;
    }

    input {
      font-size: 13px;
    }
  }

  .box-header {
    .btn-edit-client {
      width: 130px;
      margin: -5px 0 0 -5px;
    }
  }

  .box-body {
    .no-result {
      position: relative;
      text-align: center;
    }
  }

  .client-list-container {
    width: 100%;

    .custom-row {
      margin: 0;

      .invisible {
        visibility: hidden;
      }

      .custom-col-icon {
        text-align: right;
      }

      .custom-col-birth {
        text-align: center;
      }

      .custom-col-info {
        padding-left: 0;

        > p {
          margin-bottom: 0px;
        }

        .cpf-value {
          font-size: 24px;
          font-weight: 600;
        }

        .birth-value {
          font-size: 12px;
          margin-top: -3px;
        }

        .name-value {
          font-family: Calibri;
          text-transform: uppercase;
          font-size: 18px;
          letter-spacing: -1px;
        }
      }

      .fa-id-card-o {
        color: black;
        font-size: 78px;
      }

      .client-list-table {
        width: 60%;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 10px;
        .border-radius(5px);

        tbody tr {
          th {
            &:first-of-type, &:nth-of-type(2) {
              text-align: center;
            }

            &:first-of-type {
              width: 15px;
            }
          }

          td {
            &:first-of-type, &:nth-of-type(2) {
              text-align: center;
            }

            vertical-align: middle;

            i.fa-trash {
              font-size: 14px;
            }
          }

          .no-result {
            text-align: center;
          }
        }
      }
    }
  }
}
