.client-register-wrapper {
  .client-form-group {
    margin-bottom: 0;
    > div {
      margin-bottom: 15px;
    }

    .sep {
      width: 100%;
    }
  }

  .client-input-group {
    margin-bottom: 15px;
  }

  .client-phone-table {
    tbody tr {
      th {
        &:first-of-type, &:nth-of-type(2), &:last-of-type {
          text-align: center;
        }

        &:first-of-type, &:last-of-type {
          width: 15px;
        }
      }

      td {
        &:first-of-type, &:nth-of-type(2), &:last-of-type {
          text-align: center;
        }

        vertical-align: middle;

        i.fa-trash {
          font-size: 14px;
        }
      }

      .no-result {
        text-align: center;
      }
    }
  }
}
