<div dashboard class="dashboard">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Dashboard
      <!--<small>This is the Dashboard Page</small>-->
    </h1>
    <ol class="breadcrumb">
      <li ng-class="{ 'active': bcrumb.isActive }" ng-repeat="bcrumb in vm.breadcrumbs">
        <a href ng-click="vm.go(bcrumb.state)">
          <i class="{{ bcrumb.icon }}"></i> {{ bcrumb.name }}
        </a>
      </li>
    </ol>
  </section>

  <!-- Main content -->
  <section main class="content dashboard-wrapper">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 custom-box">
        <div class="small-box bg-aqua">
          <div class="inner">
            <h4 class="box-title">Empréstimos</h4>
            <p class="box-value" ng-bind="vm.emprestimo.valortotalservicos || 0 | RealBrasileiro"></p>
            <p class="box-detail">Meta Alcançada: {{ vm.emprestimo.valor_minimo || 0 | RealBrasileiro }} até {{
              vm.emprestimo.valor_maximo || 0 | RealBrasileiro }}</p>
            <p class="box-detail">Faixa: {{ vm.emprestimo.comissao_operador_faixa || '?' }}</p>
            <p class="box-detail">Comissão: {{ vm.emprestimo.valorcomissao || 0 | FixComission | RealBrasileiro }}</p>
          </div>
          <div class="icon">
            <i class="fa fa-money"></i>
          </div>
          <div class="footer">
            <p class="box-last-update">Última Atualização: {{ vm.emprestimo.data_movimentacao || '__/__/____' | date:'dd/MM/yyyy' }}</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 custom-box">
        <div class="small-box bg-yellow">
          <div class="inner">
            <h4 class="box-title">Contas</h4>
            <p class="box-value">{{ vm.ativacaoConta.valortotalservicos || 0 | RealBrasileiro }}</p>
            <p class="box-detail">Faixa: {{ vm.ativacaoConta.comissao_operador_faixa || '?' }}</p>
            <p class="box-detail">Comissão: {{ vm.ativacaoConta.valorcomissao || 0 | FixComission | RealBrasileiro }}</p>
            <p class="box-detail invisible">_</p>
          </div>
          <div class="icon">
            <i class="fa fa-bank"></i>
          </div>
          <div class="footer">
            <p class="box-last-update">Última Atualização: {{ vm.ativacaoConta.data_movimentacao || '__/__/____' | date:'dd/MM/yyyy' }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-lg-4">
        <div class="box box-info box-loans-goal">
          <div class="box-header">
            <h3 class="box-title">Meta Empréstimos</h3>
          </div>
          <div class="box-body custom-box-body">
            <div ng-repeat="goal in vm.goals">
              <h5>Faixa {{ $index + 1 }} : De {{ goal.valor_minimo | RealBrasileiro }} à {{ goal.valor_maximo | RealBrasileiro }}</h5>
              <div class="progress custom-progress" ng-class="{ 'low-opacity': goal.opacity === 'low' }" title="{{ goal.title }}">
                <div class="progress-bar progress-bar-striped custom-progress-bar"
                     ng-class="{ 'active': goal.active, 'progress-bar-success': goal.progressBarClass === 'success', 'progress-bar-warning': goal.progressBarClass === 'warning' }"
                     role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" ng-style="{ 'width': goal.completed }">
                  <span class="progress-type" ng-hide="goal.width < 42">{{ goal.type }}</span>
                  <span class="progress-completed" ng-hide="goal.width < 16">{{ goal.completed }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-lg-8">
        <div class="box box-info box-chart">
          <div class="box-header">
            <h3 class="box-title">Desempenho</h3>
          </div>
          <div class="box-body">
            <div id="bar-chart"></div>
          </div>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="box box-info box-worked-days ng-hide" ng-show="vm.workedDays.length > 0">
          <div class="box-header">
            <h3 class="box-title">Dias Produzidos</h3>
          </div>
        </div>
        <div class="custom-progressbar">
          <div class="progress">
            <span class="bar" ng-repeat-start="day in vm.workedDays" ng-if="$index != 0"></span>
            <div class="circle" ng-class="{ 'done': day.produziu, 'active': !day.produziu }" ng-repeat-end>
              <span class="label">{{ day.data }}</span>
              <span class="title" ng-if="day.produziu">&#10004;</span>
              <span class="title" ng-if="!day.produziu">&#10008;</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /.content -->
</div>
