<div production>
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Produção
      <!--<small>This is the Production Page</small>-->
    </h1>
    <ol class="breadcrumb">
      <li ng-class="{ 'active': bcrumb.isActive }" ng-repeat="bcrumb in vm.breadcrumbs">
        <a href ng-click="vm.go(bcrumb.state)">
          <i class="{{ bcrumb.icon }}"></i> {{ bcrumb.name }}
        </a>
      </li>
    </ol>
  </section>

  <!-- Main content -->
  <section production class="content production-wrapper">
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title" style="visibility: hidden;">_</h3>

            <div class="box-tools">
              <div class="input-group input-group-sm" style="width: 150px;">
                <button type="button"
                        class="btn btn-sm btn-block btn-default btn-flat"
                        ng-click="vm.getExternalFilters()"
                        custom-popover="filtersPopover"
                        custom-class="filters-popover"
                        popover-placement="bottom auto"
                        popover-title="Procurar...">
                  <i class="fa fa-filter"></i> Filtros
                </button>
              </div>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body table-responsive no-padding">
            <table ng-table="vm.tableParams" class="table table-hover production-table">
              <tbody>
              <tr id="line-header" class="hide">
                <td data-title="'Data'" sortable="'data_transacao'"></td>
                <td data-title="'CPF'" sortable="'cpf_cliente'"></td>
                <td data-title="'Operador'" sortable="'operador_nome'"></td>
                <td data-title="'Serviço'" sortable="'servico_nome'"></td>
                <td data-title="'Valor'" sortable="'valor'"></td>
                <td data-title="'Linha'" sortable="'linha'"></td>
                <td data-title="'Convênio'" sortable="'convenio_nome'"></td>
                <td data-title="'Operação'" sortable="'operacao'"></td>
                <td data-title="'Prazo'" sortable="'prazo'"></td>
                <td data-title="'Agência'" sortable="'agencia_cliente'"></td>
                <td data-title="'Conta'" sortable="'conta_cliente'"></td>
                <td data-title="'Comissão'" sortable="'comissao_operador_valor'"></td>
              </tr>
              <tr id="no-result" ng-show="vm.noResult">
                <td colspan="12">Nenhum resultado foi encontrado.</td>
              </tr>
              <tr ng-repeat="prod in $data">
                <td>{{ prod.data_transacao}}</td>
                <td>{{ prod.cpf_cliente}}</td>
                <td>{{ prod.operador_nome}}</td>
                <td>{{ prod.servico_nome}}</td>
                <td>{{ prod.valor}}</td>
                <td>{{ prod.linha}}</td>
                <td>{{ prod.convenio_nome}}</td>
                <td>{{ prod.operacao}}</td>
                <td>{{ prod.prazo}}</td>
                <td>{{ prod.agencia_cliente}}</td>
                <td>{{ prod.conta_cliente}}</td>
                <td>{{ prod.comissao_operador_valor}}</td>
              </tr>
              </tbody>
            </table>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
    </div>
    <script type="text/ng-template" id="filtersPopover">
      <div class="filter-wrapper">
        <div class="add-filter">
          <button type="button" class="btn btn-sm btn-block btn-default btn-flat add-filter-btn"
                  ng-click="vm.addFilter(); vm.bindInputMasks();">
            <i class="fa fa-plus"></i> Adicionar filtro
          </button>
        </div>
        <ul class="list-filter">
          <li ng-repeat="filter in vm.filters">
            <select class="form-control filter-select">
              <option selected="selected" disabled="disabled">Filtro</option>
              <option value="mes">Mês</option>
              <option value="periodo">Período</option>
              <option value="operador">Operador</option>
              <option value="operacao">Operação</option>
              <option value="servico">Serviço</option>
              <option value="linha">Linha</option>
              <option value="agencia">Agência</option>
              <option value="conta">Conta</option>
              <option value="cpf">CPF</option>
            </select>
            <input type="text" class="form-control type-filter-select default" placeholder="Tipo do Filtro" disabled>
            <input type="text" class="form-control type-filter-select hide periodo" placeholder="Digite o período...">
            <input type="text" class="form-control type-filter-select hide operador" placeholder="Digite o operador...">
            <input type="text" class="form-control type-filter-select hide operacao" placeholder="Digite a operação...">
            <input type="text" class="form-control type-filter-select hide linha" placeholder="Digite a linha...">
            <input type="text" class="form-control type-filter-select hide agencia" placeholder="Digite a agência...">
            <input type="text" class="form-control type-filter-select hide conta" placeholder="Digite a conta...">
            <input type="text" class="form-control type-filter-select hide cpf" placeholder="Digite o CPF...">
            <select class="form-control type-filter-select hide mes" ng-model="vm.currentMonthFilter['month_' + $index]"
                    ng-options="month.mes as month.mes for month in vm.monthFilter track by month.data">
            </select>
            <select class="form-control type-filter-select hide servico"
                    ng-model="vm.currentServiceFilter['service_' + $index]"
                    ng-options="service.nome as service.nome for service in vm.serviceFilter track by service.id">
            </select>
            <button type="button" class="btn btn-sm btn-block btn-danger btn-flat remove-btn"
                    ng-click="vm.removeFilter($index)">
              <i class="fa fa-close"></i>
            </button>
          </li>
        </ul>
        <div class="footer-filter">
          <button type="button" class="btn btn-sm btn-block btn-primary btn-flat search-btn"
                  ng-click="vm.searchProduction()">
            <i class="fa fa-search"></i> Procurar
          </button>
          <button type="button" class="btn btn-sm btn-block btn-danger btn-flat remove-all-filter-btn"
                  ng-click="vm.removeAllFilters()">
            <i class="fa fa-trash"></i> Apagar filtros
          </button>
        </div>
      </div>
    </script>
  </section>
  <div id="production-summary-modal" class="modal fade">
    <div class="production-summary-modal modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Resumo</h4>
        </div>
        <div class="modal-body">
          <table class="table table-hover table-production-summary">
            <tbody>
              <tr class="row-head">
                <th colspan="4">Linha de Serviços</th>
              </tr>
              <tr class="row-subhead">
                <td>Linha</td>
                <td>Nome do Serviço</td>
                <td>Valor</td>
                <td>Qtd.</td>
              </tr>
              <tr class="row-body" ng-repeat="pSummary in vm.productionSummary.lines">
                <td>{{ pSummary.line }}</td>
                <td>{{ pSummary.name }}</td>
                <td>{{ pSummary.value | RealBrasileiro }}</td>
                <td>{{ pSummary.quantity }}</td>
              </tr>
              <tr class="row-body">
                <td>-</td>
                <td>{{ vm.productionSummary.accounts.name }}</td>
                <td>-</td>
                <td>{{ vm.productionSummary.accounts.quantity }}</td>
              </tr>
              <tr class="row-foot">
                <td></td>
                <td></td>
                <td>{{ vm.productionSummary.total.value || 0 | RealBrasileiro }}</td>
                <td>{{ vm.productionSummary.total.quantity }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
