.production-wrapper {
  .production-table {
    border-top: 2px solid #f4f4f4;
    border-bottom: 2px solid #f4f4f4;

    tr {
      td {
        font-size: 12px;
      }
    }
  }

  .ng-table-pager {
    font-size: 10px;
    text-align: center;

    .summary-btn {
      position: relative;
      float: left;
      left: 20px;
      margin-top: 19px;
    }
  }

  .popover {
    max-width: none !important;

    .filter-wrapper {
      width: 400px;

      > div, ul {
        width: 100%;
      }

      > .add-filter {
        height: 40px;

        .add-filter-btn {
          width: 115px;
          float: right;
        }
      }

      > .list-filter {
        .border-radius(2px);
        background-clip: padding-box;
        min-height: 45px;
        max-height: 250px;
        border: 1px solid #f4f4f4;
        overflow-y: scroll;
        list-style-type: none;
        padding-left: 5px;

        > li {
          margin-bottom: 5px;

          .form-control {
            padding: 4px 8px;
            font-size: 12px;
          }

          &:first-of-type {
            margin-top: 5px;
          }

          select, button, input {
            display: inline-block;
          }

          select, input {
            padding-top: 4px;
            margin-right: 5px;
          }

          .filter-select {
            width: 100px;
          }

          .type-filter-select {
            width: 219px;
          }

          .remove-btn {
            width: 34px;
            height: 34px;
            font-size: 16px;
          }
        }
      }

      > .footer-filter {
        height: 30px;
        margin-top: 10px;
        text-align: center;

        > button {
          width: 115px;
          display: inline-block;
          margin: 0;

          &:first-of-type {
            margin-left: 10px;
          }
        }
      }
    }
  }
}

.table-production-summary {
  margin-bottom: 0;

  tr {
    th, td {
      padding: 5px;
      border: 1px solid #fff;
      border-width: 0 1px 1px 0;
    }
  }

  .row-head, .row-subhead {
    th, td {
      font-family: Calibri;
      text-align: center;
      text-transform: uppercase;
    }
  }

  .row-head {
    th {
      background: #66a9bd;
      font-size: 25px;
      color: #fff;
      font-weight: normal;
    }
  }

  .row-subhead {
    td {
      font-size: 16px;
      background: #91c5d4;
      padding: 6px 8px;
    }
  }

  .row-body {
    td {
      background: #d5eaf0;
      text-transform: uppercase;
      padding: 3px 8px;

      &:first-of-type {
        text-align: center;
      }

      &:nth-of-type(3), &:nth-of-type(4) {
        text-align: right;
      }
    }
  }

  .row-foot {
    td {
      background: #d7e1c5;
      font-weight: bold;
      text-align: right;
      padding: 3px 8px;
    }
  }
}
