.attendance-list-wrapper {
  .box-tools {
    height: 30px;
    display: flex;
    flex-direction: row;

    .label-filter {
      font-size: 12px;
      margin-top: 6px;
      margin-right: 12px;
    }

    .input-group {
      display: inherit;
      width: 100px;
    }

    .attendance-type-container {
      text-align: center;

      .form-control {
        padding: 4px 8px;
        font-size: 12px;
      }

      &:first-of-type {
        margin-top: 5px;
      }

      select, button, input {
        display: inline-block;
      }

      select, button, input {
        padding-top: 4px;
        margin-right: 5px;
        height: 30px;
      }

      select {
        margin-left: 8px;
      }

      button {
        width: 63px;
        margin-top: -1px;
      }

      .filter-select {
        width: 120px;
      }

      .type-filter-select {
        width: 220px;
      }

      .opt-ag {
        width: 95px;
        margin-right: 4px;
      }

      .opt-acc {
        width: 118px;
      }
    }
  }

  .attendance-table {
    border-top: 2px solid #f4f4f4;

    tr {
      td {
        font-size: 12px;
        text-align: center;
        padding: 2px 8px;
        vertical-align: middle;

        .save-btn, .edit-btn {
          width: 64px;
          height: 30px;
        }

        .save-btn {
          width: 69px;
        }

        .edit-inputs {
          width: 150px;
          height: 25px;
          margin: 0 auto;
          text-align: center;
          font-size: 12px;
        }
      }
    }
  }
}

