.attendance-register-wrapper {
  .attendance-container {
    .row-client-info {
      margin: 20px 0 10px 0;

      .custom-col-icon {
        text-align: right;
      }

      .custom-col-birth {
        text-align: center;
      }

      .custom-col-info {
        padding-left: 0;

        > p {
          margin-bottom: 0px;
        }

        .cpf-value {
          font-size: 24px;
          font-weight: 600;
        }

        .birth-value {
          font-size: 12px;
          margin-top: -3px;
        }

        .name-value {
          font-family: Calibri;
          text-transform: uppercase;
          font-size: 18px;
          letter-spacing: -1px;
        }
      }

      .fa-id-card-o {
        color: black;
        font-size: 78px;
      }
    }

    .row-attendance-label {
      text-align: center;
      margin: 0;
      margin-top: 30px;

      > p {
        margin: 0;
        font-size: 12px;
      }
    }

    .row-attendance-type {
      margin-bottom: 30px;

      .attendance-type-container {
        text-align: center;

        .form-control {
          padding: 4px 8px;
          font-size: 12px;
        }

        &:first-of-type {
          margin-top: 5px;
        }

        select, button, input {
          display: inline-block;
        }

        select, input {
          padding-top: 4px;
          margin-right: 5px;
        }

        .filter-select {
          width: 120px;
        }

        .type-filter-select {
          width: 220px;
        }

        .opt-ag {
          width: 95px;
          margin-right: 4px;
        }

        .opt-acc {
          width: 118px;
        }

        .remove-btn {
          width: 34px;
          height: 34px;
          font-size: 16px;
        }
      }
    }
  }

  .form-cpf-register-attendance {
    width: 300px;
    margin: 0 auto;
  }

  .question-register-client {
    margin: 10px 0 0 0;
    text-align: center;
    font-size: 12px;

    .yes-register {
      color: #00a65a;
      margin-left: 5px;
    }

    .no-register {
      color: #dd4b39;
      margin-left: 5px;
    }
  }
}
