<div login>
  <div class="login-form-wrapper text-center">
    <div class="logo">Login</div>
    <div class="login-form-1">
      <form id="login-form" class="text-left" ng-submit="vm.submitLoginForm()">
        <div class="login-form-main-message"></div>
        <div class="main-login-form">
          <div class="login-group">
            <div class="form-group">
              <label for="lg_username" class="sr-only">Usuário</label>
              <input type="text" id="lg_username" class="form-control" ng-model="vm.username" name="lg_username" placeholder="Usuário">
            </div>
            <div class="form-group">
              <label for="lg_password" class="sr-only">Senha</label>
              <input type="password" id="lg_password" class="form-control" ng-model="vm.password" name="lg_password" placeholder="Senha">
            </div>
          </div>
          <button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>
        </div>
        <div class="etc-login-form">
          <p>Esqueceu sua senha? <a href="#">Clique aqui</a></p>
          <p>Usuário novo? <a href="#">Criar nova conta</a></p>
        </div>
      </form>
    </div>
    <div class="col-xs-12">
      <div class="back-to-home">
        <h3>
          <a href="#/">
            <i class="fa fa-arrow-left"></i> Voltar
          </a>
        </h3>
      </div>
    </div>
  </div>
</div>
